<div *ngFor="let event of event">
    <md-card>
        <md-card-title align="center">{{event.eventTitle}}</md-card-title>
        <md-card-content>
            <div class="row desription">
                <md-icon>description</md-icon>
                {{event.description}}
            </div>
            <div class="row date">
                <md-icon>date_range</md-icon>
                {{event.eventStart | date: 'dd/MM/yyyy'}} - {{event.eventEnd | date: 'dd/MM/yyyy'}}
            </div>
            <div class="row seats">
                <md-icon>event_seat</md-icon>
                {{event.seats}}
            </div>
            <div class="row time">
                <md-icon>query_builder</md-icon>
                <span *ngFor="let time of event.time">
                    {{time}};&nbsp;
                </span>
            </div>
            <div class="row">
                <button md-raised-button color="warn" class="full-width" (click)="registrationToggle=!registrationToggle">
                    Registration
                </button>
            </div>

            <md-card *ngIf="registrationToggle">
                <md-card-title align="center">Fill the fields</md-card-title>
                <md-card-content>
                    <form [formGroup]="registerForm" (submit)="register(eventForm.value)">
                        <table style="width: 100%">
                            <tr>
                                <td style="white-space: nowrap">Check time</td>
                                <td>
                                    <label *ngFor="let time of event.time">
                                        <input name="time" type="radio" value="{{time}}">
                                        <span md-button color="warn">{{time}}</span>
                                    </label>
                                </td>
                            </tr>
                        </table>

                        <md-input formControlName="name" class="full-width" placeholder="First name"></md-input>
                        <md-input formControlName="surname" class="full-width" placeholder="Last name"></md-input>
                        <md-input formControlName="email" class="full-width" placeholder="Email"></md-input>
                        <md-input formControlName="phone" class="full-width" placeholder="Phone"></md-input>
                        <md-input formControlName="company" class="full-width" placeholder="Company"></md-input>
                        <button class="full-width" type="submit" md-raised-button color="primary" align="center"
                                [disabled]="!registerForm.valid">
                            Submit
                        </button>
                    </form>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
</div>
